<div class='mx-10 m-2'>
    <h2 class='font-semibold text-2xl text-green'>{{packList.name}} </h2>

    <h2 class='font-semibold text-xl'>Add items to your list</h2>
    <form id='add-items-to-list' data-id='{{packList.id}}'>
        <div class='autocomplete add-items'>
            <input
                id='add-items'
                type='text'
                name='add-items'
                placeholder='Enter items'
            />
        </div>
        <div class='autocomplete add-items'>
            <input
                id='add-items-cat'
                type='text'
                name='add-items'
                placeholder='Category'
            />
        </div>
        <div class='autocomplete add-items'>
            <input
                id='add-items-bag'
                type='text'
                name='add-items'
                placeholder='Bags'
            />
        </div>

        <button type='submit'><span
                class='bg-grey hover:bg-green text-white font-semibold py-2 px-4 rounded-md'
            >Add</span></button>
    </form>

</div>

<div class='mx-10 m-2'>
    <h2 class='font-semibold'>List of suggested items:</h2>
    <div class='btn-group' data-id={{packList.id}}>
        <div
            id='suggested-item-list'
            class='btn-group border-solid border-greyrounded-md p-2 hover:border-dotted hover:border-green'
            data-id={{packList.id}}
        >
            {{#each suggestedItemsList as |sItem|}}
                <button
                    class='bg-grey hover:bg-green text-white font-semibold py-2 px-4 mt-1 mb-1 rounded-md'
                    data-id='{{sItem.id}}'
                >{{sItem.name}}</button>
            {{/each}}
        </div>
    </div>

    <form>
        <div class='font-semibold class="mx-10 m-2"'>Sort by:</div>
        <div class='form-group'>
            <label for='name' class='font-semibold'>Name:</label>
            <label for='name-asc'>ASC</label>
            <input
                type='radio'
                id='name-asc'
                name='sort'
                value='item-asc'
                checked
            />
            <label for='name-desc'>DESC</label>
            <input type='radio' id='name-desc' name='sort' value='item-desc' />
        </div>
        <div class='form-group'>
            <label for='category' class='font-semibold'>Category:</label>
            <label for='cat-asc'>ASC</label>
            <input type='radio' id='cat-asc' name='sort' value='category-asc' />
            <label for='cat-desc'>DESC</label>
            <input
                type='radio'
                id='cat-desc'
                name='sort'
                value='category-desc'
            />
        </div>
        <div class='form-group'>
            <label for='bags' class='font-semibold'>Bags:</label>
            <label for='bag-asc'>ASC</label>
            <input type='radio' id='bag-asc' name='sort' value='baggage-asc' />
            <label for='cat-desc'>DESC</label>
            <input
                type='radio'
                id='bag-desc'
                name='sort'
                value='baggage-desc'
            />
        </div>
        <button class='m-2' type='submit' id='sort-item-list'><span
                class='bg-grey hover:bg-green text-white font-semibold py-2 px-4 rounded-md'
            >Sort</span></button>
    </form>
</div>

<div class='mx-10 m-2'>

    <h3 class='font-semibold text-xl'>List of items:</h3>

    <ul id='items-in-list'>
        {{#each itemList as |item|}}

            <li>
                <div class='container m-auto grid grid-cols-4 w-5/6'>
                    <div class='self-center'>{{item.name}}</div>
                    <div class='self-center'>{{category.name}}</div>
                    <div class='self-center'>{{baggage.name}}</div>
                    <div class='self-center'><button
                            class='bg-grey hover:bg-green text-white font-semibold py-2 px-4 rounded-md m-2'
                            data-id='{{item.id}}'
                        >Remove</button></div>
                </div>
            </li>

        {{/each}}
    </ul>
</div>
<script src='/js/script.js'></script>