<!-- Main modal -->

<div
    id='email-modal'
    tabindex='-1'
    aria-hidden='true'
    class='hidden overflow-y-auto overflow-x-hidden justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full'
>
    <div class='relative p-4 w-full max-w-md max-h-full'>
        <!-- Modal content -->
        <div class='relative bg-white rounded-lg shadow dark:bg-gray-700'>
            <!-- Modal header -->
            <div
                class='flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600'
            >
                <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                    Email your packing list: <span id="email-list-name" class = 'text-green'></span>
                </h3>
                <button
                    id="close-modal"
                    type='button'
                    class='text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white'
                    data-modal-toggle='crud-modal'
                >
                    <svg
                        class='w-3 h-3'
                        aria-hidden='true'
                        xmlns='http://www.w3.org/2000/svg'
                        fill='none'
                        viewBox='0 0 14 14'
                    >
                        <path
                            stroke='white'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                            stroke-width='2'
                            d='m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6'
                        />
                    </svg>
                    <span class='sr-only'>Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id='email-form' class='p-4 md:p-5'>
                <div class='grid gap-4 mb-4 grid-cols-2'>
                    <div class='col-span-2'>
                        <label
                            for='name'
                            class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                        >Recipient email address:</label>
                        <input
                            type='email'
                            name='share-email-address'
                            id='share-email-address'
                            class='bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500'
                            placeholder='email@example.com'
                            required
                        />
                    </div>
                    <div class='col-span-2'>
                        <label
                            for='description'
                            class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                        >Add a message：</label>
                        <textarea
                            id='email-message'
                            rows='4'
                            class='block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
                            placeholder='Enter a personal greeting for the recipient eg. Hi John...'
                        ></textarea>
                    </div>
                </div>
                <button
                    type='submit'
                    id = 'send-email'
                    data-id=''
                    class='text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
                >
                    Send
                </button>
            </form>
        </div>
    </div>
</div>


<div>
    <div class='mx-10'>
        <button
            id='new-list-btn'
            class='font-semibold underline hover:text-green'
            style='font-size: 2vw;'
        > Create New List</button></div>

    {{#each packLists as |list|}}
        <div class='list mx-10'>
            <div class='list-title space-y-2'>
                <h3 class='font-semibold text-xl align-center text-green'><a
                        href='/dashboard/{{list.id}}'
                    >{{list.name}}</a></h3>
                <p><span class='font-semibold'>For a period from</span>
                    {{format_date date_from}}
                    <span class='font-semibold'>to</span>
                    {{format_date date_to}}</p>
                <p><span class='font-semibold'>Destinations:</span>
                    {{list.destinations}}</p>
                <p><span class='font-semibold'>Transport:</span>
                    {{list.transports}}</p>
                <p><span class='font-semibold'>Climate:</span>
                    {{list.climates}}</p>
                <p><span class='font-semibold'>luggages:</span>
                    {{#each luggages as |bag|}}
                        {{bag.name}}
                    {{/each}}</p>

            </div>
            <button
                class='bg-grey hover:bg-green text-white font-semibold py-2 px-4 rounded-md m-2'
            >
                <a href='/update/{{list.id}}'>Update</a></button>
            <button
                class='email-btn bg-grey hover:bg-green text-white font-semibold py-2 px-4 rounded-md m-2'
                type='button'
                data-id="{{list.id}}"
                data-list-name="{{list.name}}"
            >Email</button>
        </div>
    {{/each}}

</div>


<script src='/js/dashboard.js'></script>