<div class="mx-10">
    <button
        id='new-list-btn'
        class='font-semibold underline hover:text-green'
        style='font-size: 2vw;'
    > Create New List</button></div>

{{#each packLists as |list|}}
    <div class='list mx-10'>
        <div class='list-title space-y-2'>
            <h3 class='font-semibold text-xl align-center text-green'><a
                    href='/dashboard/{{list.id}}'
                >{{list.name}}</a></h3>
            <p><span class='font-semibold'>For a period from</span>
                {{format_date date_from}}
                <span class='font-semibold'>to</span>
                {{format_date date_to}}</p>
            <p><span class='font-semibold'>Destinations:</span>
                {{list.destinations}}</p>
            <p><span class='font-semibold'>Transport:</span>
                {{list.transports}}</p>
            <p><span class='font-semibold'>Climate:</span>
                {{list.climates}}</p>
            <p><span class='font-semibold'>luggages:</span>
                {{#each luggages as |bag|}}
                    {{bag.name}}
                {{/each}}</p>

        </div>
        <button
            class='bg-grey hover:bg-green text-white font-semibold py-2 px-4 rounded-md m-2'
        >
            <a href='/update/{{list.id}}'>Update</a></button>
    </div>
{{/each}}

<script src='/js/dashboard.js'></script>