<div>
    <h2>Update your Packing List</h2>
    <form id='update-list-form' class=''>
        <div class='form-group'>
            <label for='name'>Name*:</label>
            <input type='text' id='name' name='name' placeholder='Mandatory field'required value = "{{packlist.name}}" />
        </div>
        <div class='form-group'>
            <label for='dateFrom'>Date From:</label>
            <input type='date' id='dateFrom' name='dateFrom' value = "{{format_datePickerValue packlist.date_from}}"/>
        </div>

        <div class='form-group'>
            <label for='dateTo'>Date To:</label>
            <input type='date' id='dateTo' name='dateTo' value="{{format_datePickerValue packlist.date_to}}" />
        </div>

        <div class='form-group'>
            <label for='destination'>Destinations:</label>
            <input type='text' id='destination' name='destination' value= "{{packlist.destinations}}"/>
        </div>

        <div class='form-group transport'>
            <label for='transport-options'>Travelling by:</label>
            <input
                type='checkbox'
                id='vehicle1'
                name='vehicle'
                value='Flight'
            />
            <label for='vehicle1'> Flight</label>
            <input
                type='checkbox'
                id='vehicle2'
                name='vehicle'
                value='Car'
            />
            <label for='vehicle2'> Car</label>
            <input
                type='checkbox'
                id='vehicle3'
                name='vehicle'
                value='Ship'
            />
            <label for='vehicle3'> Ship</label>
            <input
                type='checkbox'
                id='vehicle4'
                name='vehicle'
                value='Train'
            />
            <label for='vehicle5'> Train</label>
            <input
                type='checkbox'
                id='vehicle5'
                name='vehicle'
                value='Other'
            />
            <label for='vehicle5'>Other </label>
        </div>
        <div class='form-group baggage'>
            <label for='bag-options'>Baggage:</label>
            <input type='checkbox' id='bag1' name='bag' value='Cabin Bag' />
            <label for='bag1'>Cabin Bag</label>
            <input
                type='checkbox'
                id='bag2'
                name='bag'
                value='Medium Suitcase'
            />
            <label for='bag2'>Medium Suitcase</label>
            <input
                type='checkbox'
                id='bag3'
                name='bag'
                value='Large suitcase'
            />
            <label for='bag3'>Large suitcase</label>
            <input type='checkbox' id='bag4' name='bag' value='Handbag' />
            <label for='bag4'>Handbag</label>
            <input type='checkbox' id='bag5' name='bag' value='Backpack' />
            <label for='bag5'>Backpack</label>
            <input type='checkbox' id='bag6' name='bag' value='Duffle Bag' />
            <label for='bag6'>Duffle Bag</label>
            <input type='checkbox' id='bag7' name='bag' value='Garment Bags' />
            <label for='bag7'>Garment Bags</label>
            <input
                type='checkbox'
                id='bag8'
                name='bag'
                value='Equipment cases'
            />
            <label for='bag8'>Equipment cases</label>
            <input type='checkbox' id='bag9' name='bag' value='Oversize' />
            <label for='bag9'>Oversize</label>
        </div>

        <div class='form-group'>
            <label for='climate'>Climate:</label>
            <input type='text' id='climate' name='climate' value= "{{packlist.climates}}" />
        </div>
        <div class='form-group'>
            <button id="final-update-list-button" class='bg-grey hover:bg-green text-white font-semibold py-2 px-4 rounded-md' type='submit'>Update list</button>
        </div>
    </form>



</div>

<script src='/js/updateList.js'></script>